# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.so
*.egg-info/
.build/
dist/
.eggs/
.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/

# Environments
.venv/
venv/
.env
.env.*
.envrc

# Editors/OS
.DS_Store
.vscode/
.idea/

# Streamlit & cache
.streamlit/secrets.toml
.cache/
cache/

# Logs & misc
*.log
